# ===============================
# Virtual environments
# ===============================
**/.venv/

# ===============================
# Python cache / compiled files
# ===============================
**/__pycache__/
*.pyc

# ===============================
# Django files (IMPORTANT)
# ===============================
db.sqlite3
.env
.env.*

# Ignore all Django migration files
**/migrations/

# ===============================
# macOS files
# ===============================
.DS_Store
